{% load django_htmx %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Chatbot{% endblock %}</title>
    {% htmx_script %}
    <script src="{% static 'htmx-ext-sse@2.2.4.js' %}"></script>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
